<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.find.cn.dao.TFindDao">


    <select id="getOneInfo" resultMap="TFindMap">
  SELECT
t_find.find_id,
t_find.information,
t_find.show_id,
t_find.user_id,
t_find.releasetime,
t_show.show_id,
t_show.show_name,
t_show.show_img,
t_show.show_place,
t_show.show_title,
t_show.show_begin_time,
t_show.show_end_time,
t_show.show_min_price
FROM
t_find
INNER JOIN t_show ON t_find.show_id = t_show.show_id
WHERE find_id =#{find_id}
    </select>

    <resultMap id="TFindMap" type="com.find.cn.pojo.TFind">
        <result column="find_id" property="find_id"/>
        <result column="information" property="information"/>
        <result column="show_id" property="show_id"/>
        <result column="user_id" property="user_id"/>
        <result column="releasetime" property="releasetime"/>
        <association property="tShow" javaType="com.find.cn.pojo.TShow">
            <result column="show_name" property="show_name"/>
            <result column="show_img" property="show_img"/>
            <result column="show_min_price" property="show_min_price"/>
            <result column="show_max_price" property="show_max_price"/>
            <result column="show_place" property="show_place"/>
            <result column="show_title" property="show_title"/>
            <result column="count" property="count"/>
            <result column="show_id" property="show_id"/>
            <result column="categorie_id" property="categorie_id"/>
            <result column=" areainfo_id" property="areainfo_id"/>
            <result column="show_status" property="show_status"/>
            <result column="show_begin_time" property="show_begin_time"/>
            <result column="show_end_time" property="show_end_time"/>
            <result column="show_ipt_num" property="show_ipt_num"/>
        </association>
        <association property="tUser" javaType="com.find.cn.pojo.TUser">
            <result column="id" property="id"/>
            <result column="userName" property="userName"/>
            <result column="nickname" property="nickname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="identityCode" property="identityCode"/>
            <result column="integral" property="integral"/>
            <result column="userdate" property="userdate"/>
            <result column="loginName" property="loginName"/>
            <result column="usertype" property="usertype"/>
            <result column="imageName" property="imageName"/>
            <result column="balance" property="balance"/>
            <result column="latelyLogin" property="latelyLogin"/>
            <result column="login_phone" property="login_phone"/>
        </association>
    </resultMap>


    <select id="getAllInfo" resultMap="TFindMap">
       SELECT
t_find.find_id,
t_find.information,
t_find.show_id,
t_find.user_id,
t_find.releasetime,
t_show.show_id,
t_show.show_name,
t_show.show_img,
t_show.show_place,
t_show.show_title
FROM
t_find
INNER JOIN t_show ON t_find.show_id = t_show.show_id
where user_id = #{user_id}
    </select>
    <select id="getAllTalk" resultMap="TFtalkMap">
       SELECT
            t_ftalk.findid,
			t_ftalk.userid ,
            t_ftalk.talkinfo,
            t_ftalk.createtime,
			t_ftalk.replyuserid,
            t_ftalk.prasecount,
            t_user.userName
            FROM
            t_ftalk
            INNER JOIN t_user ON t_ftalk.userid = t_user.id
            WHERE findid =#{findid} order by t_ftalk.createtime desc
    </select>



    <resultMap type="com.find.cn.pojo.TFtalk" id="TFtalkMap">
        <result property="fid" column="fid"/>
        <result property="findid" column="findid"/>
        <result property="userid" column="userid"/>
        <result property="talkinfo" column="talkinfo"/>
        <result property="createtime" column="createtime"/>
        <result property="replyuserid" column="replyuserid"/>
        <result property="prasecount" column="prasecount"/>

        <association property="tUser" javaType="com.find.cn.pojo.TUser">
            <result column="id" property="id"/>
            <result column="userName" property="userName"/>
            <result column="nickname" property="nickname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="identityCode" property="identityCode"/>
            <result column="integral" property="integral"/>
            <result column="userdate" property="userdate"/>
            <result column="loginName" property="loginName"/>
            <result column="usertype" property="usertype"/>
            <result column="imageName" property="imageName"/>
            <result column="balance" property="balance"/>
            <result column="latelyLogin" property="latelyLogin"/>
            <result column="login_phone" property="login_phone"/>
        </association>
        <association property="tFind" javaType="com.find.cn.pojo.TFind">
            <result column="find_id" property="find_id"/>
            <result column="information" property="information"/>
            <result column="show_id" property="show_id"/>
            <result column="user_id" property="user_id"/>
            <result column="releasetime" property="releasetime"/>
        </association>

    </resultMap>



    <insert id="addTalkByUser" parameterType="com.find.cn.pojo.TFtalk">
       INSERT INTO t_ftalk(fid, findid, userid, talkinfo, createtime, replyuserid, prasecount)
      VALUES (0, #{findid}, #{userid}, #{talkinfo}, #{createtime}, #{replyuserid}, 0)
    </insert>

    <insert id="addReplyInfo" parameterType="com.find.cn.pojo.TFtalk">
         INSERT INTO t_ftalk(fid, findid, userid, talkinfo, createtime, replyuserid, prasecount)
      VALUES (0, #{findid}, #{userid}, #{talkinfo}, #{createtime}, #{replyuserid}, 0)
    </insert>


    <!--点赞-->
    <select id="selNum" resultType="int" parameterType="int">
      select prasecount from t_find where find_id =#{find_id}
    </select>
    <update id="upNum1" parameterType="int">
        update t_find set prasecount =0 where  find_id =#{find_id}
   </update>
    <update id="upNum2" parameterType="int">
        update t_find set prasecount =1 where  find_id =#{find_id}
    </update>
</mapper>