<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.find.cn.dao.TFindDao">

    <select id="getAllInfo" parameterType="com.find.cn.pojo.TFind" resultType="com.find.cn.pojo.TFind">
SELECT
t_find.information,
t_find.releasetime,
t_user.userName,
t_user.nickname,
t_user.login_phone,
t_show.show_name,
t_show.show_place,
t_show.show_status
FROM
t_find
INNER JOIN t_user ON t_find.user_id = t_user.id
INNER JOIN t_show ON t_find.show_id = t_show.show_id
WHERE user_id=#{user_id}
    </select>
</mapper>