<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comment.dao.TReplytalkDao">

    <resultMap id="TReplyMap" type="com.comment.pojo.TReplytalk">
        <result column="reply_id" property="reply_id"/>
        <result column="replyuser_id" property="replyuser_id"/>
        <result column="talk_id" property="talk_id"/>
        <result column="reply_info" property="reply_info"/>
        <result column="prase_count" property="prase_count"/>
        <result column="createtime" property="createtime"/>
        <association property="tUser" javaType="com.comment.pojo.TUser">
            <result column="id" property="id"/>
            <result column="userName" property="userName"/>
            <result column="nickname" property="nickname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="identityCode" property="identityCode"/>
            <result column="identityCode" property="identityCode"/>
            <result column="userdate" property="userdate"/>
            <result column="loginName" property="loginName"/>
            <result column="usertype" property="usertype"/>
            <result column="imageName" property="imageName"/>
            <result column="balance" property="balance"/>
            <result column="latelyLogin" property="latelyLogin"/>
            <result column="login_phone" property="login_phone"/>
        </association>
        <association property="tTalk" javaType="com.comment.pojo.TTalk">
            <result property="talk_id" column="talk_id" />
            <result property="answer_id" column="answer_id" />
            <result property="user_id" column="user_id" />
            <result property="talk_info" column="talk_info" />
            <result property="state" column="state" />
            <result property="prase_count" column="prase_count" />
            <result property="createtime" column="createtime" />
        </association>
    </resultMap>

    <!--回复一条评论-->
    <insert id="addreply" parameterType="com.comment.pojo.TReplytalk">
        INSERT INTO t_replytalk (reply_id,replyuser_id, talk_id, reply_info, prase_count, createtime)
        VALUES(0,#{replyuser_id},#{talk_id},#{reply_info},#{prase_count},#{createtime})
    </insert>

    <!--查询某商品下的评论信息与回复信息-->
    <select id="allInfo" parameterType="int" resultType="com.comment.pojo.TReplytalk" resultMap="TReplyMap" >
        SELECT
t_replytalk.reply_id,
t_replytalk.replyuser_id,
t_replytalk.talk_id,
t_replytalk.reply_info,
t_talk.talk_id,

t_talk.user_id,
t_talk.talk_info
FROM
t_replytalk
INNER JOIN t_talk ON t_replytalk.talk_id = t_talk.talk_id
WHERE t_talk.answer_id=#{answer_id}
    </select>
</mapper>