<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.dao.OrderPayDao">

    <resultMap type="com.order.pojo.OrderPay" id="OrderPayMap">
        <result property="payid" column="payid" jdbcType="INTEGER"/>
        <result property="paynumber" column="paynumber" jdbcType="VARCHAR"/>
        <result property="payamount" column="payamount" jdbcType="VARCHAR"/>
        <result property="payname" column="payname" jdbcType="VARCHAR"/>
        <result property="payalipay" column="payalipay" jdbcType="VARCHAR"/>
        <result property="paystate" column="paystate" jdbcType="VARCHAR"/>
        <result property="paytime" column="paytime" jdbcType="TIMESTAMP"/>
        <result property="refundcause" column="refundcause" jdbcType="VARCHAR"/>
        <result property="refundtime" column="refundtime" jdbcType="VARCHAR"/>
        <result property="refundment" column="refundment" jdbcType="VARCHAR"/>
        <result property="pay1" column="pay1" jdbcType="VARCHAR"/>
        <result property="pay2" column="pay2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="OrderPayMap">
        select
          payid, paynumber, payamount, payname, payalipay, paystate, paytime, refundcause, refundtime, refundment, pay1, pay2
        from xiaomai.order_pay
        where payid = #{payid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OrderPayMap">
        select
          payid, paynumber, payamount, payname, payalipay, paystate, paytime, refundcause, refundtime, refundment, pay1, pay2
        from xiaomai.order_pay
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="OrderPayMap">
        select
        payid, paynumber, payamount, payname, payalipay, paystate, paytime, refundcause, refundtime, refundment, pay1, pay2
        from xiaomai.order_pay
        <where>
            <if test="payid != null">
                and payid = #{payid}
            </if>
            <if test="paynumber != null and paynumber != ''">
                and paynumber = #{paynumber}
            </if>
            <if test="payamount != null and payamount != ''">
                and payamount = #{payamount}
            </if>
            <if test="payname != null and payname != ''">
                and payname = #{payname}
            </if>
            <if test="payalipay != null and payalipay != ''">
                and payalipay = #{payalipay}
            </if>
            <if test="paystate != null and paystate != ''">
                and paystate = #{paystate}
            </if>
            <if test="paytime != null">
                and paytime = #{paytime}
            </if>
            <if test="refundcause != null and refundcause != ''">
                and refundcause = #{refundcause}
            </if>
            <if test="refundtime != null and refundtime != ''">
                and refundtime = #{refundtime}
            </if>
            <if test="refundment != null and refundment != ''">
                and refundment = #{refundment}
            </if>
            <if test="pay1 != null and pay1 != ''">
                and pay1 = #{pay1}
            </if>
            <if test="pay2 != null and pay2 != ''">
                and pay2 = #{pay2}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="payid" useGeneratedKeys="true">
        insert into xiaomai.order_pay(paynumber, payamount, payname, payalipay, paystate, paytime, refundcause, refundtime, refundment, pay1, pay2)
        values (#{paynumber}, #{payamount}, #{payname}, #{payalipay}, #{paystate}, #{paytime}, #{refundcause}, #{refundtime}, #{refundment}, #{pay1}, #{pay2})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update xiaomai.order_pay
        <set>
            <if test="paynumber != null and paynumber != ''">
                paynumber = #{paynumber},
            </if>
            <if test="payamount != null and payamount != ''">
                payamount = #{payamount},
            </if>
            <if test="payname != null and payname != ''">
                payname = #{payname},
            </if>
            <if test="payalipay != null and payalipay != ''">
                payalipay = #{payalipay},
            </if>
            <if test="paystate != null and paystate != ''">
                paystate = #{paystate},
            </if>
            <if test="paytime != null">
                paytime = #{paytime},
            </if>
            <if test="refundcause != null and refundcause != ''">
                refundcause = #{refundcause},
            </if>
            <if test="refundtime != null and refundtime != ''">
                refundtime = #{refundtime},
            </if>
            <if test="refundment != null and refundment != ''">
                refundment = #{refundment},
            </if>
            <if test="pay1 != null and pay1 != ''">
                pay1 = #{pay1},
            </if>
            <if test="pay2 != null and pay2 != ''">
                pay2 = #{pay2},
            </if>
        </set>
        where payid = #{payid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from xiaomai.order_pay where payid = #{payid}
    </delete>

    <!--查询订单编号是否存在-->
    <select id="selectPayNumber" parameterType="String" resultType="Integer">
        select count(paynumber) from order_pay where paynumber = #{paynumber}
    </select>

    <!--根据订单编号获取订单交易明细表里的ID-->
    <select id="selectPayNumberByPayID" parameterType="String" resultType="Integer">
        select payid from order_pay where paynumber = #{paynumber}
    </select>

    <!--根据订单编号获取订单交易明细表里的交易号-->
    <select id="selectPayNumberByPayalipay" parameterType="String" resultType="String">
        select payalipay from order_pay where paynumber = #{paynumber}
    </select>
</mapper>