<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.dao.TOrderDao">

    <resultMap type="com.order.pojo.TOrder" id="TOrderMap">
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="orderNumber" column="order_number" jdbcType="VARCHAR"/>
        <result property="orderMode" column="order_mode" jdbcType="INTEGER"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="orderPrice" column="order_price" jdbcType="OTHER"/>
        <result property="transport" column="transport" jdbcType="OTHER"/>
        <result property="discount" column="discount" jdbcType="OTHER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="showId" column="show_id" jdbcType="INTEGER"/>
        <result property="addressId" column="address_id" jdbcType="INTEGER"/>
        <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
        <result property="deliverydate" column="deliveryDate" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where order_id = #{orderId} and status != 0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where status != 0
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        <where>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="orderNumber != null and orderNumber != ''">
                and order_number = #{orderNumber}
            </if>
            <if test="orderMode != null">
                and order_mode = #{orderMode}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
            <if test="orderPrice != null">
                and order_price = #{orderPrice}
            </if>
            <if test="transport != null">
                and transport = #{transport}
            </if>
            <if test="discount != null">
                and discount = #{discount}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="showId != null">
                and show_id = #{showId}
            </if>
            <if test="addressId != null">
                and address_id = #{addressId}
            </if>
            <if test="createdate != null">
                and createDate = #{createdate}
            </if>
            <if test="deliverydate != null">
                and deliveryDate = #{deliverydate}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="orderId" useGeneratedKeys="true">
        insert into damai.t_order(order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address)
        values (#{orderNumber}, #{orderMode}, #{orderNum}, #{orderPrice}, #{transport}, #{discount}, #{status}, #{userId}, #{showId}, #{addressId}, #{createdate}, #{deliverydate}, #{address})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update damai.t_order
        <set>
            <if test="orderNumber != null and orderNumber != ''">
                order_number = #{orderNumber},
            </if>
            <if test="orderMode != null">
                order_mode = #{orderMode},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice},
            </if>
            <if test="transport != null">
                transport = #{transport},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="showId != null">
                show_id = #{showId},
            </if>
            <if test="addressId != null">
                address_id = #{addressId},
            </if>
            <if test="createdate != null">
                createDate = #{createdate},
            </if>
            <if test="deliverydate != null">
                deliveryDate = #{deliverydate},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </set>
        where order_id = #{orderId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from damai.t_order where order_id = #{orderId}
    </delete>

    <!--通过用户ID查询全部订单信息-->
    <select id="selectAllByUserID" resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status != 0 order by createDate desc
    </select>

    <!--根据用户ID查询待支付订单信息-->
    <select id="unpaidAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 1 order by createDate desc
    </select>

    <!--根据用户ID查询待出票订单信息-->
    <select id="ticketAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 2 order by createDate desc
    </select>

    <!--根据用户ID查询待收货订单信息-->
    <select id="receivingAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 3 order by createDate desc
    </select>

    <!--根据用户ID查询已完成订单信息-->
    <select id="doneAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 4 order by createDate desc
    </select>

    <!--根据用户ID查询已取消订单信息-->
    <select id="cancAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 5 order by createDate desc
    </select>

    <!--根据用户ID查询已退款订单信息-->
    <select id="refundedAllByUserID"  resultType="com.order.pojo.TOrder" parameterType="int"  resultMap="TOrderMap">
        select
          order_id, order_number, order_mode, order_num, order_price, transport, discount, status, user_id, show_id, address_id, createDate, deliveryDate, address
        from damai.t_order
        where user_id = #{user_id} and status = 6 order by createDate desc
    </select>

    <!--查询订单编号状态-->
    <select id="selectByOrderNumber" resultType="int" parameterType="String">
        select status from t_order where order_number = #{orderNumber}
    </select>

    <update id="updateByOrderState" parameterType="String">
        update t_order set status = 5 where order_number = #{orderNumber}
    </update>
</mapper>